<header id="header">
  <div class="container">
      <div class="top clearfix">
        <h1 class="logo">
            <a href="">F</a>
        </h1>
        <nav id="main-nav">
          
          <input type="checkbox" id="button">
          <label for="button" onclick=""></label>
          <ul class="menu">
          <% for (var i in theme.menu){ %>
            <li><a class="main-nav-link" href="<%- url_for(theme.menu[i]) %>"><%= i %></a></li>
          <% } %>
          </ul>
        </nav>
      </div>
      <div class="owl-catom">
        <div class="owl">
            <div class="eye"><div class="eye-pupil"></div></div>
            <div class="eye right"><div class="eye-pupil"></div></div>
          </div>
    </div>
    <div class="hgroup">
      <h2><%- config.title %></h2>
      <p><%- config.subtitle %></p>
    </div>
  </div>
</header>