<aside id="sidebar" class="layout-<%- theme.sidebar %>">
	<div class="widget-wrap">
		<h3 class="widget-title"><span>About me</span></h3>
		<p style="text-align:center">
			Feitai <br>
			80后热血青年 <br>
			爱生活、好运动<br>
			半路转行的前端探索者 <br>
			不知疲倦的为了理想而努力
			
		</p>
	</div>
  <% theme.widgets.forEach(function(widget){ %>
    <%- partial('_widget/' + widget) %>
  <% }) %>
  <div id="sidebar-toc"></div>
</aside>