#footer
  background: color-themes
  padding: 30px 0
  border-top: 1px solid color-border
  color: #ECEAEA
  text-align center
  a
    color: #fff
    text-decoration: none
    &:hover
      text-decoration: underline

#footer-info
  line-height: line-height
  font-size: 0.85em