#sidebar
  @media mq-normal
    column(sidebar-column)
.widget-title
  text-align: center;
  font-size: 13px;
  border-top: 1px solid #ddd;
  font-weight: 300;
  text-transform capitalize;
  position: relative;
  margin-top 30px
  margin-bottom 10px
  font-family 'Source Code Pro', Menlo, Consolas, Monaco, monospace
  span
    color: #bbb;
    background: #f2f2f2;
    letter-spacing: 1px;
    font-weight: 400;
    display: inline-block;
    padding: 0 14px;
    position: relative;
    top: -10px;
